*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;

}
.container a{
    display: flex;
    text-decoration: none;
    font-family: sans-serif; 
    font-size: 1.2em;
    width: 30%;


}
iframe{
    display: flex;
    height: 100%;
    width: 100%;

}